{% extends "layout.html" %}

{% block content %}
          <!-- Your Page Content Here -->
          <div class="col-md-6">
            <div class="box-custom">
              <div class="box-header-custom with-border">
                <h3 class="box-title-custom">Info</h3>
              </div>
              <div class="box-body">
                <div class="table-cell">
                  <div class="team-avatar">
                    <img src="http://gitlab.globoi.com{{ group.projects[0].namespace.avatar.url}}"/>
                  </div>

                </div>
                <div class="table-cell team-meta">
                    <div class="team-name">{{ group.name }}</div>
                    <div class="team-description">{{ group.projects[0].namespace.description}}</div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="box-custom">
              <div class="box-header-custom with-border">
                <h3 class="box-title-custom">Skillset</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div id="placeholder" style="height: 145px"></div>
              </div><!-- /.box-body -->
            </div>
          </div>

          <div class="col-md-12">
            <div class="box-custom">
              <div class="box-header-custom with-border">
                <h3 class="box-title-custom">Members</h3>
              </div><!-- /.box-header -->
              <div class="box-body">

                {% for user in users %}
                <div class="member-box">
                  <div class="bio-icon">&nbsp;</div>
                  <div class="user-avatar">
                    <img src="{{user.avatar_url}}"/>
                  </div>
                  <div class="stats-icon">&nbsp;</div>
                  <div class="user-name">{{ user.name }}</div>
                  <div class="user-email">{{ user.email }}</div>
                  <div class="icons">
                    {% if user.website_url %}
                    <a href="{{ user.website_url }}"><div class="user-web-icon"></div></a>
                    {% else %}
                    <div class="user-web-icon"></div>
                    {% endif %}

                    {% if user.skype %}
                    <a href="skype:{{ user.skype }}?call"><div class="user-skype-icon"></div></a>
                    {% else %}
                    <div class="user-skype-icon"></div>
                    {% endif %}

                    {% if user.twitter %}
                    <a href="http://twitter.com/{{ user.twitter }}"><div class="user-twitter-icon"></div></a>
                    {% else %}
                    <div class="user-twitter-icon"></div>
                    {% endif %}

                    {% if user.linkedin %}
                    <a href="http://www.linkedin.com/in/{{ user.linkedin }}"><div class="user-linkedin-icon"></div></a>
                    {% else %}
                    <div class="user-linkedin-icon"></div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div><!-- /.box-body -->
            </div>
          </div>

          <div class="col-md-12">
            <div class="box-custom">
              <div class="box-header-custom with-border">
                <h3 class="box-title-custom">Activity</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div id="activity_placeholder" style="height: 400px"></div>
              </div><!-- /.box-body -->
            </div>
          </div>

          <script type="text/javascript">

            var d5 = [
                {% for lang in languages %}
                    {data: [["{{lang[0][0]}}", {{lang[1]}}]], color: "{{lang[0][1]}}" },
                {% endfor %}
            ];

            var commits = {{commits|safe}};

          </script>

{% endblock content %}
